# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.app
*.app/*
*.mode*
build/
obj/
Debug*/
Release*/
*.pyc

# openFrameworks Specific #
*/bin/*
!*/bin/data/

# Big Files #
*.mov
*.mp4
bin/data/mov/*
*/bin/data/mov/*

# osx noise
.DS_Store
profile
*.swp
*~.nib
# Thumbnails
._*

# xcode noise
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# svn & cvs
.svn
CVS

*/ThinkGear.bundle
*/ThinkGear.bundle/*
bin/data/ThinkGear.bundle/Contents/Info.plist
bin/data/ThinkGear.bundle/Contents/MacOS/ThinkGearBundle
bin/data/ThinkGear.bundle/Contents/Resources/English.lproj/InfoPlist.strings
bin/data/Axion_Log.txt
